# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.swp
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
ENV/
.venv/


# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database backups
*.sql
*.db


*.env